@{
    ViewData["Title"] = "Home Page";

    // puedo poner código C# para hacer algo en la vista
}

<div class="text-center">
    <h1 class="display-4">Primer ejemplo con MVC</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
